body{
	padding: 90px;
	background: url('Elements/Nice_n1.jpg') 0 0/ cover no-repeat fixed;
	height: 1300px;
}
.block{

}
.audio{

}
p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-shadow: 1px 1px 1px #181A34;
	line-height: 20px
	
}
h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 40px;
}
img{
	box-sizing: border-box;
	width: 25em;
	display: inline-block;
	margin: 100px 350px 0px;
	border-radius: 20px;
}
.text{
	font-size: 20px;
}
