
body{
	padding: 90px;
	background: url('Elements/Nice_n1.jpg') 0 0/ cover no-repeat fixed;
}
.block_parent{
	display: flex;
	margin: 50px 20%;
}
.audio{
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}
.verse{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-shadow: 1px 1px 1px #181A34;
	line-height: 20px;
}
h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 40px;
}
.text{
	font-size: 20px;
	margin: 0 28% 0 0;
	padding-top: 30px; 
	line-height: 30px;
	text-shadow: -0 -1px 0 #9807F9;
}
.picture1{
	border-radius: 20px;
	float: left;
	margin: 0px 10px 5px 0px;
	width: 380px;
}
.parent_card{
	margin: 50px 0px 100px 20%;
}
.parent_card2{
	margin: 50px 20%;
}
.picture2{
	width: 300px;
	margin:0;
	float: right;
	border-radius: 10px;
}
.sticker_glad_cat{
	width: 150px;
	margin: 60px 10px 0 220px;
}
.text2{
	margin:-30px 0 0 12%;
	font-size: 20px;
	line-height: 30px;
	text-shadow: -0 -1px 0 #9807F9;
}
.parent_card3{
	margin: 90px 16%;
	display: flex;

}
.text3{
	margin:-30px 0 0 3%;
	font-size: 20px;
	line-height: 30px;
	text-shadow: -0 -1px 0 #9807F9;
}
.picture3{
	width: 400px;
	margin: -50px 0 0 0; 
	border-radius: 10px;
}
.sticker_heart_eyes{
	width: 200px;
	margin: 100px 0 0 100px;
}
.sticker_bear{
	display: block;
	width: 100px;
}
.sticker_bear_block{
	margin: 0 0 0 65%;
}
